h1 {
    text-align: center;
}

h2 {
    text-align: center;
    font-weight: 400px;
    font-family: 'Rubik'
}

.button {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    background-color: #c9722a;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: "Rubik";
    font-weight: 300;
}

.button:hover {
    background-color: #faaa69 ;
    color: white;
}

.homeBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headshot {
    border-radius: 175px;
    object-fit: cover;
    margin-right: 10%;
    width: 350px;
    height: 350px;
}

p {
    font-family: 'Rubik';
    font-size: 18px;
}

h1 {
    font-family: 'Rubik';
    font-weight: bold;
}

h2 {
    font-family: 'Rubik';
}

h3 {
    font-family: 'Rubik';
}

.project {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding-top: 0px;
}

.buttons {
    display: flex;
    justify-content: center;
}

.topButtons {
    display: flex;
    justify-content: flex-start;
}

.topButton {
    border: solid 1px #c9722a;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 8px;
    margin: 5px;
    background-color: #faaa69;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: "Rubik";
    font-weight: 300;
}

.topButton:hover {
    background-color: #c9722a;
    color: white;
    border: solid white 1px;
}

.mainHeader {
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Rubik';
    font-weight: 300;
}

.email {
    font-family: "Rubik";
    text-decoration: none;
    color: black;
}

.email:hover {
    color: #c9722a;
}

.top {
    background-color: #c9722a;
    color: white;
    margin: 50px;
    max-width: 70%;
    text-align: left;
}

.backgroundColor {
   background-color: #c9722a;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius: 5px;
   width: 100%;
   padding-top: 50px;
   padding-bottom: 50px;
}

.toph2 {
    text-align: left;
    font-family: 'Rubik';
    font-weight: 300;
}

.about {
    display: flex;
    color: #616161;
}

.portfolioHeader {
    color: #c9722a;
}

.aboutp {
    font-family: 'Rubik';
    font-size: 18px;
    text-align: left;
    margin: 20px;
    margin-top: 40px;
    flex-basis: 60%;
    color: #616161;
}

.projectName {
    color: white;
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 300;
    padding: 10px;
}

.technologies {
    margin: 20px;
    text-align: center;
    flex-basis: 40%;
}

.logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}

.logo {
    margin-top: 20px;
    height: 120px;
}

.arrow {
    display: flex;
    justify-content: center;
}

.logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    background-color: #c9722a;
    color: white;
    display: flex;
    justify-content: flex-end;
    font-family: 'Rubik';
    font-weight: 300; 
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: solid white 1px;
}

.navEl {
    font-family: 'Rubik';
    font-weight: 300; 
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 10px;
}

.navEl:hover {
    font-size: 25px;
    padding-bottom: 9px;
}

.footerLogo {
    height: 30px;
    padding: 10px;
}

.footerLogo:hover {
    height: 31px;
    padding: 9px;
}

footer {
    background-color: #c9722a;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

@media (max-width: 982px) {
    .backgroundColor {
        flex-direction: column;
        padding-top: 0px;
    }
    .mainHeader, .toph2, .topButtons {
        display: flex;
        justify-content: center;
    }
    .headshot {
        margin-right: 0px;
    }
    .about {
        flex-direction: column;
    }
    .logos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 635px) {
    .logos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .logo {
        height: 75px;
    }
    .headshot {
        margin-right: 0px;
        height: 200px;
        width: 200px;
    }
    .technologies {
        max-width: 80%;
    }
    .aboutp {
        max-width: 80%;
        text-align: center;
        align-items: center;
    }
    .toph2 {
        font-size: 20px;
        text-align: center;
    }
    .intro {
        max-width: 100%;
    }
    .mainHeader {
        font-size: 40px;
    }
    .topButton {
        width: 100px;
        height: 25px;
        font-size: 18px;
    }
    .top {
        margin: 20px;
    }
    .about {
        justify-content: center;
        align-items: center;
    }
    .navBar {
        border-bottom: solid white 1px;
        justify-content: center;
    }
    .navEl {
        padding-right: 10px !important;
        font-size: 18px;
    }
}

.portfolioBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

}

.singleProject {
    display: flex;
}

.orange {
    background-color: #faaa69;
}

.projectDescription {
    font-family: 'Rubik';
    font-size: 18px;
    text-align: left;
    margin: 20px;
    margin-top: 40px;
    flex-basis: 60%;
    color: white;
}

.photo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}