<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briahna Yee Contact</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="navBar">
        <a href="/" class="navEl">Home</a>
        <a href="/portfolio" class="navEl">Portfolio</a>
        <a href="/contact" class="navEl" style="padding-right: 40px;">Contact</a>
    </div>
    <p class="mainHeader portfolioHeader">Contact</p>
    <div class="topButtons">
        <a href="https://www.linkedin.com/in/briahnayee/" class="topButton">LinkedIn</a>
        <a href="https://github.com/briahnayee" class="topButton">Github</a>
        <a class="topButton" href="mailto: briahnayee@gmail.com">Email</a>
    </div>
    <p class="emailText">Email: BriahnaYee@gmail.com</p>
    <footer style="position: absolute; bottom: 0;">
        <a href="https://www.linkedin.com/in/briahnayee/" class="footerLink"><p>LinkedIn</p></a>
        <a href="https://github.com/briahnayee" class="footerLink"><p>GitHub</p></a>
        <a href="mailto: briahnayee@gmail.com" class="footerLink"><p>Email</p></a>
    </footer>

</body>
</html>