<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briahna Yee Portfolio</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap" rel="stylesheet">

</head>

<body class="portfolioBody">
    <div class="navBar">
        <a href="/" class="navEl">Home</a>
        <a href="/portfolio" class="navEl">Portfolio</a>
        <a href="/contact" class="navEl" style="padding-right: 40px;">Contact</a>
    </div>
    <p class="mainHeader portfolioHeader">Portfolio</p>

    <div class="project orange">
        <div class="singleProject">
            <div class="photo">
                <img class="projectImg" src="https://i.imgur.com/qMRr5zT.png" alt="Audition Tracker">
            </div>
            <div class="description">
                <h3 class="projectName">Audition Tracker</h3>
                <p class='projectDescription'>An easier way for actors to track what auditions they've been on and which casting
                    directors
                    they have met.
                </p>
                <p class='projectDescription'>Technologies used: React | PostgreSQL | Node | HTML | CSS | JavaScript</p>
                <div class="buttons">
                    <a href="https://github.com/briahnayee/audition_tracker" class="button">Github Link</a>
                    <a href="https://audition-tracker.herokuapp.com/" class="button">Try the app</a>
                </div>
            </div>
        </div>
    </div>

    <div class="project">

        <div class="singleProject">
            <div class="photo">
                <img class="projectImg" src="https://camo.githubusercontent.com/f9c62e6c6a29c94b418c47cc13820433e445b143/68747470733a2f2f692e696d6775722e636f6d2f536d356e5663572e706e67" alt="StreetWise">
            </div>
            <div class="description">
                <h3 class="projectName2">StreetWise</h3>
                <p class='projectDescription2'>An app designed to keep protesters safe and allow them to warn others of potential dangers. Built in 3 days for a hackathon. Winning app of the hackathon!
                </p>
                <p class='projectDescription2'>Technologies used: React | Node | Express | Google Maps API | HTML | CSS | JavaScript</p>
                <div class="buttons">
                    <a href="https://github.com/briahnayee/streetwise-hackathon" class="button">Github Link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="project orange">
        <div class="singleProject">
            <div class="photo">
                <img class="projectImg" src="https://i.imgur.com/cgTq1rK.png" alt="Set In Motion">
            </div>
            <div class="description">
                <h3 class="projectName">Set In Motion</h3>
                <p class='projectDescription'>Cleaned up code, fixed css, made site mobile responsive for a production company client.
                </p>
                <p class='projectDescription'>Technologies used: HTML | CSS | PHP | WordPress</p>
                <div class="buttons">
                    <a href="https://setinmotion.com/" class="button">Go to site</a>
                </div>
            </div>
        </div>
    </div>

    <div class="project">
        <div class="singleProject">
            <div class="photo">
                <img class="projectImg" src="https://i.imgur.com/C0JqsvF.png" alt="Dungeons, Daddies, and Divas">
            </div>
            <div class="description">
                <h3 class="projectName2">Dungeons, Daddies, and Divas</h3>
                <p class='projectDescription2'>A dating and friendship networking app for fans of the table-top game Dungeons and Dragons.
                </p>
                <p class='projectDescription2'>Technologies used: Python | Django | PostgreSQL | CSS | HTML</p>
                <div class="buttons">
                    <a href="https://github.com/briahnayee/dungeons_daddies_and_divas" class="button">Github Link</a>
                    <a href="https://dungeons-daddies-and-divas.herokuapp.com/" class="button">Try the app</a>
                </div>
            </div>
        </div>
    </div>

    <div class="project orange">
        <div class="singleProject">
            <div class="photo">
                <img class="projectImg" src="https://i.imgur.com/guGvN0i.png" alt="Scrapbook">
            </div>
            <div class="description">
                <h3 class="projectName">Scrapbook</h3>
                <p class='projectDescription'>Scrapbook is a social media site designed to allow photographers, models, and other creatives
                    to share their
                </p>
                <p class='projectDescription'>Technologies used: Mongoose | MongoDB | Express | Node | OAuth | HTML | CSS | JavaScript</p>
                <div class="buttons">
                    <a href="https://github.com/briahnayee/Scrapbook" class="button">Github Link</a>
                    <a href="https://seiscrapbook.herokuapp.com/home" class="button">Try the app</a>
                </div>
            </div>
        </div>
    </div>

    <div class="project">
        <div class="singleProject">
            <div class="photo">
                <img class="projectImg" src="https://i.imgur.com/tVI3rYZ.png" alt="Simon Game">
            </div>
            <div class="description">
                <h3 class="projectName2">Simon Game</h3>
                <p class='projectDescription2'>This is based off of the classic Simon game where you repeat the colors.</p>
                <p class='projectDescription2'>Technologies used: HTML | CSS | JavaScript</p>
                <div class="buttons">
                    <a href="https://github.com/briahnayee/Simon_Says" class="button">Github Link</a>
                    <a href="https://briahnayee.github.io/Simon_Says/" class="button">Try the app</a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <a href="https://www.linkedin.com/in/briahnayee/" class="footerLink"><p>LinkedIn</p></a>
        <a href="https://github.com/briahnayee" class="footerLink"><p>GitHub</p></a>
        <a href="mailto: briahnayee@gmail.com" class="footerLink"><p>Email</p></a>
    </footer>
</body>

</html>